body {
    background-color: #f5e5d5 ;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

h1 {
    text-align: center ;
    
}

.center{
    text-align: center ;
}
.left{
    text-align: left;
}
.right {
    text-align: right;
}

.full{
    width: 100%;
    padding: 0 5%;
}